<div class="fondo" >
  <div style="text-align: center">

    <div *ngIf="loader1" class="loadingio-spinner-dual-ring-xg1vnrf2b6o " style=" margin-top: 150px;min-height: 2000px;"><div class="ldio-z7fu6e1den">

      <div></div><div><div></div></div>
      </div></div>


    </div>
  <div >





      <!-- <div class="text-center"> -->
        <div style="margin-left: 0px;">
        <h6 style="font-weight: 900; color:black; font-size: 30px!important; ">{{data?.titulo}}</h6>
        <h6 style="width: 70%;">{{data?.subtitulo}}</h6>
        <br>
      </div>

        <!-- <div class="text-right" style="margin-top:-15px">
          <div style="float:left;">
          <mat-icon style=" margin-left:4px; color:brown" (click)="scrollCenter()">vertical_align_center</mat-icon>
        </div>
          <mat-icon *ngIf="loader" (click)="loader=false" (click)="agregarPublicacion()" style="color:brown; cursor:pointer; font-size:30px;margin-right: 10px;" >save</mat-icon>

          <img *ngIf="!loader" src="../../../assets/loader.gif" width="40px" alt="" style="margin-top:-22px">

      <mat-icon  (click)="this.crudService.cambioPantalla = true" (click)="scrollReset()"  style="font-size:30px; cursor:pointer; color:brown;">close</mat-icon>

  </div> -->


  <div class="document-editor">
    <div class="document-editor__toolbar"></div>
    <div class="document-editor__editable-container">

          <div class="document-editor__editable"   [innerHTML]= "this.art">

          </div>

    </div>
</div>





  </div>

  <div style=" text-align: right;
       z-index: 1000; border-top: 1px solid gainsboro;
  background-color: rgb(204, 204, 204);
  width: 100%;position: fixed;
  bottom: 0px; left:0px">

<div  class="margenR" style="margin-top:10px; margin-bottom:20px">
  <span class="badge bg-warning bg-sm"  *ngIf="guardando" style="color:black; margin-right:20px; font-size: 12px;">Guardando..</span>
  <span class="badge bg-warning bg-sm"  *ngIf="guardado" style="color:black; margin-right:20px; font-size: 12px;">Guardado!</span>
<button type="button" style="margin-right:10px ;" class="btn btn-dark" (click)="back()"> Volver</button>

  <button class="btn btn-danger" style="margin-right:-10px" (click)="agregarPublicacion(); guardando = true" >Guardar</button>

</div>
</div>



<br><br><br><br><br><br>
<br><br><br>
<br><br><br>

  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="texto mt-1" id="exampleModalLabel">Eliminar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <h4>Esta seguro que desea eliminar el articulo?</h4>
      </div>
      <div class="modal-footer">
        <button (click)="this.crudService.cambioPantalla = true"type="button" class="btn btn-danger" >Salir</button>
        <!-- data-dismiss="modal" routerlink="gestor" -->

      </div>
    </div>
  </div>
</div>
