<div class="fondo">
    <div class="logo margenL achicar">
    <img  class="logo" src="../../../assets/logo.png" >
   </div>
      <h1 class="quitarTextoLogo textLogo textlogoCentro margenL textUp " >CENTRO CULTURAL<span class="quitarMenu" >ARGENTINO DE MONTAÑA</span></h1>
     <h1 class="quitarTextoLogo textLogo textlogoAbajo margenL  textDown ponerMenu ">ARGENTINO DE MONTAÑA</h1> 
     <div style="height: 40px;background-color: gainsboro; margin-top:-20px ;"> 
        <nav class="navbar navbar-expand-lg" style="background-color: rgb(219, 219, 219); height: 40px;margin-left: -10px; border-top: 1px solid rgb(189, 189, 189);border-bottom: 1px solid rgb(189, 189, 189);">
            <div class="container-fluid margenL">
                          
              <!-- Botón para mostrar el menú en pantallas pequeñas -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <!-- Contenedor de las opciones del menú -->
              <div class="collapse navbar-collapse" id="navbarNav" >
                <ul class="navbar-nav" style="padding: 0px; margin-left: 1px;">
                  <!-- Opción "Home" -->
                  <li class="nav-item">
                    <a routerLink="/" class="nav-link" style="padding-left:-10px!important; color:rgba(0, 0, 0, 0.414)"  >  INICIO</a>
                  </li>
                  
                  <!-- Opción "Montañas de Argentina" -->
                  <li class="nav-item">
                    <a routerLink="/mapas" class="nav-link" style="color:rgb(18, 139, 127)">MONTAÑAS DE ARGENTINA</a>
                  </li>
                  
                  <!-- Menú desplegable "Montañas" con las opciones "Item 1" e "Item 2" -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:brown">
                       CULTURA
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">LA MONTAÑA Y EL HOMBRE</a></li>
                      <li><a class="dropdown-item" href="#">PUEBLOS Y TRADICIONES</a></li>
                      <li><a class="dropdown-item" href="#">LITERATURA Y LIBROS</a></li>
                      <li><a class="dropdown-item" href="#">MUSEO DE MONTAÑA</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:rgb(29, 9, 138)">
                       MUSEO
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">NUESTRO MUSEO</a></li>
                      <li><a class="dropdown-item" href="#">MUESTRA EN EL MAAM</a></li>
                      <li><a class="dropdown-item" href="#">MUSEO VIRTUAL</a></li>
                      <li><a class="dropdown-item" href="#">PUBLICIDAD DE MONTAÑA</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:green">
                       ACTIVIDADES
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">VIAJES Y EXPEDICIONES</a></li>
                      <li><a class="dropdown-item" href="#">ESPELEOLOGÍA</a></li>
                      <li><a class="dropdown-item" href="#">ESQUÍ</a></li>
                      <li><a class="dropdown-item" href="#">KAYAK Y BUCEO</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:blue">
                       MEDIO AMBIENTE
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">IMPACTO AMBIENTAL</a></li>
                      <li><a class="dropdown-item" href="#">FLORA Y FAUNA</a></li>
                      <li><a class="dropdown-item" href="#">MEDICINA NATURAL</a></li>
                      
                    </ul>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link " id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:olive">
                       ARQUEOLOGÍA
                    </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:brown">
                       ENTRENAMIENTO
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">TÉCNICA</a></li>
                      <li><a class="dropdown-item" href="#">ENTRENAMIENTO</a></li>
                      <li><a class="dropdown-item" href="#">SEGURIDAD Y RESCATE</a></li>
                      
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:rgb(150, 150, 0)">
                       CAPACITACIONES
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">TALLERES Y SEMINARIO</a></li>
                      <li><a class="dropdown-item" href="#">EVENTOS EDUCATIVOS</a></li>
                      
                      
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:rgb(191, 124, 0)">
                       MONTAÑAS DEL MUNDO
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">ARTÍCULOS</a></li>
                      <li><a class="dropdown-item" href="#">NOTICIAS</a></li>
                      
                      
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:brown">
                       HISTORIA
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">PERSONAJES (BIOGRAFÍAS y ENTREVISTAS)</a></li>
                      <li><a class="dropdown-item" href="#">MONTAÑISMO EN ARGENTINA</a></li>
                      <li><a class="dropdown-item" href="#">MONTAÑISMO EN EL MUNDO</a></li>
                      
                      
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
     </div>


    </div>
