<div class="flex-container">
  <div class="">
    <div *ngIf="data[0].autor " style="margin-bottom: 20px; color: rgb(117, 117, 117)">
      <svg style="margin-top:-2px"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="bi bi-person-lines-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"
        />
      </svg>
      <span> {{ data[0].autor }}</span>
    </div>
  </div>



  <div class="quitar800"style="margin-left: 20px;">
    <div  *ngIf="data[0].fotografia " style="margin-bottom: 20px; color: rgb(117, 117, 117)">
      <svg  style="margin-top:-4px"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="bi bi-camera-fill"
        viewBox="0 0 16 16"
      >
        <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
        <path
          d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"
        />
      </svg>
      <span> {{ data[0].fotografia }}</span>
    </div>
  </div>



  <div class="quitar800" style="margin-left: 20px;">
    <div *ngIf="data[0].edicionFotografia " style="margin-bottom: 20px; color: rgb(117, 117, 117)">
      <svg style="margin-top:-4px"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="bi bi-camera-fill"
        viewBox="0 0 16 16"
      >
        <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
        <path
          d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"
        />
      </svg>
      Edición:
      <span> {{ data[0].edicionFotografia }}</span>
    </div>
  </div>
</div>
