<app-navbar data="artículos > Cabecera"></app-navbar>

<div style="text-align: center">

  <div *ngIf="loader" class="loadingio-spinner-dual-ring-xg1vnrf2b6o " style=" margin-top: 150px;min-height: 500px;"><div class="ldio-z7fu6e1den">

    <div></div><div><div></div></div>
    </div></div>


  </div>
<br>
<div *ngIf="!loader" style="margin-left:15px">

<div class ="row margenL margenR" >
  <div class="col-6" style="margin-left: -20px;">


            <h1>CREAR |<span> CABECERA</span></h1>
            <hr>
      <div class="row">
          <div class="col-12">
              <h5 class="textoInput " style="margin-top:3px">Categoría</h5>

              <select  [(ngModel)]="this.test.categoria" (change)="cambiar()" class="form-select form-control-sm" style="width: 100%; height: 38px;">
                  
                  <option>FICHA · Montañas de Argentina</option>
                  <option disabled>Cultura </option>
                  <option>Cultura · La Montaña y el Hombre</option>
                  <option>Cultura · Pueblos y tradiciones</option>
                  <option>Cultura · Literatura y libros</option>
                  <option>Cultura · Museo de Montaña</option>
                 
                  <option disabled>Actividades</option>
                  <option>Actividades · Viajes y expediciones</option>
                  <option>Actividades · Espeleología</option>
                  <option>Actividades · Esquí</option>
                  <option>Actividades · Kayak y Buceo</option>
                  
                  <option disabled>Medio Ambiente</option>
                  <option>Medio Ambiente · Impacto Ambiental</option>
                  <option>Medio Ambiente · Flora y fauna</option>
                  <option>Medio Ambiente · Medicina natural</option>
                  <option>Arqueología</option>                
                  
        
                  <option disabled>Entrenamiento</option>
                  <option>Entrenamiento · Técnica</option>
                  <option>Entrenamiento</option>
                  <option>Entrenamiento · Seguridad y rescate</option>
             
                  <option disabled>Capacitaciones</option>
                  <option>Capacitaciones · Talleres y seminarios</option>
                  <option>Capacitaciones · Eventos educativos</option>

                  <option disabled>Montañas del mundo</option>
                  <option>Montañas del mundo · Artículos</option>
                  <option>Montañas del mundo · Noticias</option>

                 
                  <option disabled>Historia</option>
                  <option>Historia · Personajes</option>
                  <option>Historia · Montañismo en Argentina</option>
                  <option>Historia · Montañismo en el Mundo</option>



                


              </select>
          </div>

          <!-- <div class="col-6">
            <div class="form-group">
              <h5 class="textoInput">#Categoria / Subtitulo</h5>
              <input [(ngModel)]="this.hash" class="form-control" id="message-text" style="width:100%">
            </div>
          </div> -->
      <!--
          <div class="col-6">
            <div class="form-group">
              <h5 class="textoInput">Autor</h5>
              <input [(ngModel)]="this.autor" class="form-control" id="message-text" style="width:100%">
            </div>
          </div> -->

      </div>

                <div class="form-group">
                  <h5 class="textoInput" style="margin-top:18px">Título</h5>
                  <input [(ngModel)]="this.test.titulo" class="form-control" id="titulo">
                       <!-- <div  class="textoInputBajo" >
                     {{this.titulo.length}} de 200 Máx.
                  </div>  -->
                </div>
                <!-- <div class="form-group">
                  <h5 class="textoInput">Título Alternativo / Noticias / Relacionados</h5>
                  <input  [(ngModel)]="this.tituloAlt" class="form-control" id="tituloAlt">

                </div> -->
                <div class="form-group">
                  <h5 class="textoInput">Subtítulo</h5>
                  <textarea [(ngModel)]="this.test.subtitulo" rows="2" class="form-control" id="message-text"></textarea>
                  <!-- <div  class="textoInputBajo" >
                    {{this.subtitulo.length}} de 200 Máx.
                  </div>  -->
                </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <h5 class="textoInput">Autor</h5>
            <input [(ngModel)]="this.test.autor" class="form-control" id="message-text" >
          </div>
      </div>

         <div class="col-6">
                <div class="form-group">
                  <h5 class="textoInput">Autor Fotografía</h5>
                  <input [(ngModel)]="this.test.fotografia"class="form-control" id="message-text">
               </div>
        </div>
        <div class="col-6">
                <div class="form-group">
                  <h5 class="textoInput">Edición de fotografía</h5>
                  <input [(ngModel)]="this.test.edicionFotografia" class="form-control" id="message-text" >
                </div>
        </div>




      <div class="col-6">
        <div class="form-group">
          <h5 class="textoInput">Estado de publicacion</h5>
          <select  [(ngModel)]="this.test.posicion" class="form-select form-control-sm" style="width: 100%; height: 38px;">
            <option value="0">Nuevo</option>
            <option value="5">Revision</option>
                   <option value="1">Completo</option>
            <!-- <option value="2">Vertical 2</option>
            <option value="3">Horizontal 1</option>
            <option value="3">Horizontal 2</option>
            <option value="3">Horizontal 3</option>
            <option value="4">Vertical Largo 1</option>
            <option value="4">Vertical Largo 2</option>
            <option value="4">Vertical Largo 3</option> -->
            </select>

       </div>
  </div>
  <div class="col-12">
     <div style="margin-top:10px">
   <div style=" max-width:100%;" >
        <div style="margin-left:0px; min-height: 91px;">

         <h6  class="textoInput" style ="text-align: left;margin-bottom: 0px;">IMAGEN DE PORTADA 1200X600</h6>
          <div class="input-group"  >
              <input class="form-control" type="file" id="formFile"  type="file"  style="  overflow: none"  (change)="onFileChange($event); " width="100%">
                          
          </div>
          <div *ngIf="!loadingSubir">          
                 <img  src="../../../assets/loader.gif" alt="" width="30px" alt="HOla"><span style="font-size: 12px;">Cargado..</span>
          </div>
          <h3 *ngIf="this.test.imagen1" class="textoInput">{{this.test.imagen1}}</h3>
          <h3 *ngIf="!this.test.imagen1" class="textoInput" style="margin-left:3px;margin-top:15px; color:rgb(124, 0, 0)">Sin Imagen</h3>
      

      <h6  class="textoInput" style ="text-align: left;margin-bottom: 0px;">IMAGEN POPUP</h6>
      <div class="input-group"  >
      <input class="form-control" type="file" id="formFile2"  style="overflow: none" (change)="onFileChange2($event); " width="100%">         </div>

      <div *ngIf="loadingSubir2">          
        <img  src="../../../assets/loader.gif" alt="" width="30px" alt="HOla"><span style="font-size: 12px;">Cargado..</span>
 </div>
 <h3 *ngIf="this.test.popup" class="textoInput">{{this.test.popup}}</h3>
 <h3 *ngIf="!this.test.popup" class="textoInput" style="margin-left:3px;margin-top:15px; color:rgb(124, 0, 0)">Sin Imagen</h3>


        </div>


        
        <div class="form-group">
          <h5 class="textoInput" style="margin-top:18px">Link Popup</h5>
          <input [(ngModel)]="this.test.popupLink" class="form-control" id="titulo" name="popupLink">
             
        </div>
         <div *ngIf="this.loading2" >
                 <div style="text-align: left;">
                    <img src="../../../assets/loading4.gif"  width="50px" alt="" style="margin-top:-41px; margin-left:40px">

                </div>
             </div>

         <div *ngIf="this.loading3">
          <h6 style="  margin-left: -351px;    margin-top: -26px;color:green; font-size: 15px;">✓ Subida! </h6>
            </div>

            <h6  class="textoInput" style ="text-align: left;margin-bottom: 0px;">Provincia:</h6>
            <select [(ngModel)]="this.test.provincia" id="provincia" name="posicion" class="form-select form-control-sm">
              <option value="BUENOS AIRES">BUENOS AIRES</option>
              <option value="CATAMARCA">CATAMARCA</option>
              <option value="CHACO">CHACO</option>
              <option value="CHUBUT">CHUBUT</option>
              <option value="CIUDAD AUTONOMA DE Bs As">CIUDAD AUTONOMA DE Bs As</option>
              <option value="CORDOBA">CORDOBA</option>
              <option value="CORRIENTES">CORRIENTES</option>
              <option value="ENTRE RIOS">ENTRE RIOS</option>
              <option value="FORMOSA">FORMOSA</option>
              <option value="JUJUY">JUJUY</option>
              <option value="LA PAMPA">LA PAMPA</option>
              <option value="LA RIOJA">LA RIOJA</option>
              <option value="MENDOZA">MENDOZA</option>
              <option value="MISIONES">MISIONES</option>
              <option value="NEUQUEN">NEUQUEN</option>
              <option value="RIO NEGRO">RIO NEGRO</option>
              <option value="SALTA">SALTA</option>
              <option value="SAN LUIS">SAN LUIS</option>
              <option value="SANTA CRUZ">SANTA CRUZ</option>
              <option value="SANTA FE">SANTA FE</option>
              <option value="SANTIAGO DEL ESTERO">SANTIAGO DEL ESTERO</option>
              <option value="TIERRA DEL FUEGO">TIERRA DEL FUEGO</option>
              <option disabled="true" selected="true" value="">Seleccionar una Provincia</option>
          </select>

       </div>

     </div>




  </div>


              <h4></h4>
        <br><br><br><br><br>
          </div>





        <!-- Modal -->


          </div>

          <div class="col-6" style="padding-right:0px">

            <h1><h1>ARTÍCULOS |<span> RELACIONADOS</span></h1></h1>
  <hr>
  <!-- <h5 class="textoInput" style="margin-left:25px" >Buscar</h5>
  <div class="input-group" >
    <input  [(ngModel)]="this.busqueda" id="busqueda" style="margin-left:20px;" type="text" class="form-control" placeholder="Número de ID del articulo" aria-label="Recipient's username" aria-describedby="basic-addon2"   >
    <div class="input-group-append">
      <button class="btn btn-danger" type="button" (click)="pedirUnArticulo()">Buscar</button>
    </div>
  </div> -->

  <!-- comiexo1  -->
            <div  class="form-group" style="margin-top:35px" >
              <div class="input-group"  >
              <input  [(ngModel)]="resultadoTitulo" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput}}" autocomplete="false">
              <div class="input-group-append">

                <button class="btn btn-danger" type="button" style="margin-right:5px" [disabled]='this.bt1Borrar' (click)="resultadoTitulo = ''" >

                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                  </svg>

                </button>
                <button class="btn btn-danger" type="button"  (click)="selection(1)"   (click)="openInput=!openInput; openInputBuscar=false"  style="margin-right:5px" [disabled]="bt1Editar">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>

                </button>
                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  <button [disabled]="bt1Buscar" class="btn btn-danger ml-1" type="button"  (click)="openInput2=true;openInputBuscar=true; this.aux = 1">
                    <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                                 <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">

                     </button>
                </a>
              </div>
            </div>
              <div style="float:left">
              <h1 style="color:brown;   margin-top:-40px">1</h1>
            </div>
            </div>
  <!-- comiexo1  -->
  <!-- comiexo2  -->
  <div  class="form-group" style="margin-top:35px" >
    <div class="input-group"  >
    <input  [(ngModel)]="resultadoTitulo2" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput2}}" autocomplete="false">
    <div class="input-group-append">
      <button [disabled]="bt2Borrar" class="btn btn-danger"  style="margin-right:5px"type="button" (click)="selection(2)" (click)="resultadoTitulo2 = ''">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
        </svg>


      </button>
      <button [disabled]="bt2Editar"   (click)="openInput2=!openInput2" class="btn btn-danger ml-1"  style="margin-right:5px"type="button" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
        </button>
      <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <button  [disabled]="bt2Buscar" class="btn btn-danger ml-1" type="button"  (click)="openInput2=true;openInputBuscar=true; this.aux = 2">
          <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
                       <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">

          </button>
      </a>

    </div>
  </div>
    <div style="float:left">
    <h1 style="color:brown;   margin-top:-40px">2</h1>
  </div>
  </div>
  <!-- comiexo2  -->

  <!-- comiexo3  -->
  <div  class="form-group" style="margin-top:35px" >
    <div class="input-group"  >
    <input  [(ngModel)]="resultadoTitulo3" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput3}}" autocomplete="false">
    <div class="input-group-append">
      <button [disabled]="bt3Borrar" class="btn btn-danger"  style="margin-right:5px"type="button" (click)="selection(3)"   (click)="openInput3=false;" (click)="resultadoTitulo3 = ''">

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
        </svg>

      </button>

      <button  [disabled]="bt3Editar"  class="btn btn-danger ml-1" style="margin-right:5px" type="button"(click)="openInput3=!openInput3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
      </button>
      <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <button  [disabled]="bt3Buscar"  class="btn btn-danger ml-1" type="button"  (click)="openInput3=true;openInputBuscar=true; this.aux = 3">
          <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
                       <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">

          </button>
      </a>
    </div>
  </div>
    <div style="float:left">
    <h1 style="color:brown;   margin-top:-40px">3</h1>
  </div>
  </div>
  <!-- comiexo3  -->
  <!-- comiexo4  -->
  <div  class="form-group" style="margin-top:35px" >
    <div class="input-group"  >
    <input  [(ngModel)]="resultadoTitulo4" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput4}}" autocomplete="false">
    <div class="input-group-append">
      <button [disabled]="bt4Borrar"  style="margin-right:5px"class="btn btn-danger" type="button" (click)="selection(4)"   (click)="openInput4=false;" (click)="resultadoTitulo4 = ''">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
        </svg>


      </button>
      <button  [disabled]="bt4Editar"  style="margin-right:5px"class="btn btn-danger ml-1" type="button" (click)="openInput4=!openInput4">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
      </button>
      <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <button  [disabled]="bt4Buscar"  class="btn btn-danger ml-1" type="button"  (click)="openInput4=true;openInputBuscar=true; this.aux = 4">
          <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
                       <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">

           </button>
      </a>
    </div>
  </div>
    <div style="float:left">
    <h1 style="color:brown;   margin-top:-40px">4</h1>
  </div>
  </div>
  <!-- comiexo4  -->

  <!-- comiexo5  -->
  <div  class="form-group" style="margin-top:35px" >
    <div class="input-group"  >
    <input  [(ngModel)]="resultadoTitulo5" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput5}}" autocomplete="false">
    <div class="input-group-append">
      <button  [disabled]="bt5Borrar"  style="margin-right:5px" class="btn btn-danger" type="button" (click)="selection(5)"   (click)="openInput5=false;" (click)="resultadoTitulo5 = ''">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
        </svg>


      </button>
      <button [disabled]="bt5Editar" style="margin-right:5px"class="btn btn-danger ml-1" type="button"  (click)="openInput5=!openInput5 ">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
      </button>
      <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <button [disabled]="bt5Buscar"class="btn btn-danger ml-1" type="button"  (click)="openInput5=true;openInputBuscar=true; this.aux = 5">
          <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
                       <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">

          </button>
      </a>
    </div>
  </div>
    <div style="float:left">
    <h1 style="color:brown;   margin-top:-40px">5</h1>
  </div>
  </div>
  <!-- comiexo5  -->

  <!-- comiexo6  -->
  <div  class="form-group" style="margin-top:35px" >
    <div class="input-group"  >
    <input  [(ngModel)]="resultadoTitulo6" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput6}}" autocomplete="false">
    <div class="input-group-append">
      <button  [disabled]="bt6Borrar" style="margin-right:5px" class="btn btn-danger" type="button" (click)="selection(6)"  (click)="resultadoTitulo6 = ''" >

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
        </svg>

      </button>
      <button  [disabled]="bt6Editar" style="margin-right:5px" class="btn btn-danger ml-1" type="button"   (click)="openInput6=!openInput6">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
      </button>
      <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <button [disabled]="bt6Buscar"  class="btn btn-danger ml-1" type="button"  (click)="openInput6=true;openInputBuscar=true; this.aux = 6">
          <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
                       <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">

          </button>
      </a>
    </div>
  </div>
    <div style="float:left">
    <h1 style="color:brown;   margin-top:-40px">6</h1>
  </div>
  </div>
  <!-- FINAL6  -->
  <div *ngIf="ficha">
    <!-- comiexo7  -->
    <div  class="form-group" style="margin-top:35px" >
      <div class="input-group"  >
      <input  [(ngModel)]="resultadoTitulo7" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput7}}" autocomplete="false">
      <div class="input-group-append">
        <button  [disabled]="bt7Borrar" style="margin-right:5px" class="btn btn-danger" type="button" (click)="selection(7)"  (click)="resultadoTitulo7 = ''" >
  
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
          </svg>
  
        </button>
        <button  [disabled]="bt6Editar" style="margin-right:5px" class="btn btn-danger ml-1" type="button"   (click)="openInput7=!openInput7">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
        </button>
        <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <button [disabled]="bt7Buscar"  class="btn btn-danger ml-1" type="button"  (click)="openInput7=true;openInputBuscar=true; this.aux = 7">
            <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
                         <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">
  
            </button>
        </a>
      </div>
    </div>
      <div style="float:left">
      <h1 style="color:brown;   margin-top:-40px">7</h1>
    </div>
    </div>
    <!-- FINAL7  -->

   <!-- comiexo8  -->
   <div  class="form-group" style="margin-top:35px" >
    <div class="input-group"  >
    <input  [(ngModel)]="resultadoTitulo8" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput8}}" autocomplete="false">
    <div class="input-group-append">
      <button  [disabled]="bt8Borrar" style="margin-right:5px" class="btn btn-danger" type="button" (click)="selection(8)"  (click)="resultadoTitulo8 = ''" >

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
        </svg>

      </button>
      <button  [disabled]="bt8Editar" style="margin-right:5px" class="btn btn-danger ml-1" type="button"   (click)="openInput8=!openInput8">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
      </button>
      <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <button [disabled]="bt8Buscar"  class="btn btn-danger ml-1" type="button"  (click)="openInput7=true;openInputBuscar=true; this.aux = 8">
          <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
                       <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">

          </button>
      </a>
    </div>
  </div>
    <div style="float:left">
    <h1 style="color:brown;   margin-top:-40px">8</h1>
  </div>
  </div>
  <!-- FINAL8  -->

   <!-- comiexo9  -->
   <div  class="form-group" style="margin-top:35px" >
    <div class="input-group"  >
    <input  [(ngModel)]="resultadoTitulo9" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput9}}" autocomplete="false">
    <div class="input-group-append">
      <button  [disabled]="bt9Borrar" style="margin-right:5px" class="btn btn-danger" type="button" (click)="selection(9)"  (click)="resultadoTitulo9 = ''" >

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
        </svg>

      </button>
      <button  [disabled]="bt9Editar" style="margin-right:5px" class="btn btn-danger ml-1" type="button"   (click)="openInput9=!openInput9">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
      </button>
      <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <button [disabled]="bt9Buscar"  class="btn btn-danger ml-1" type="button"  (click)="openInput9=true;openInputBuscar=true; this.aux = 9">
          <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
                       <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">

          </button>
      </a>
    </div>
  </div>
    <div style="float:left">
    <h1 style="color:brown;   margin-top:-40px">9</h1>
  </div>
  </div>
  <!-- FINAL9  -->


   <!-- comiexo10  -->
   <div  class="form-group" style="margin-top:35px" >
    <div class="input-group"  >
    <input  [(ngModel)]="resultadoTitulo10" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput10}}" autocomplete="false">
    <div class="input-group-append">
      <button  [disabled]="bt10Borrar" style="margin-right:5px" class="btn btn-danger" type="button" (click)="selection(10)"  (click)="resultadoTitulo10 = ''" >

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
        </svg>

      </button>
      <button  [disabled]="bt10Editar" style="margin-right:5px" class="btn btn-danger ml-1" type="button"   (click)="openInput9=!openInput10">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
      </button>
      <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <button [disabled]="bt10Buscar"  class="btn btn-danger ml-1" type="button"  (click)="openInput10=true;openInputBuscar=true; this.aux = 10">
          <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
                       <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">

          </button>
      </a>
    </div>
  </div>
    <div style="float:left">
    <h1 style="color:brown;   margin-top:-40px">10</h1>
  </div>
  </div>
  <!-- FINAL10  -->

   <!-- comiexo11  -->
   <div  class="form-group" style="margin-top:35px" >
    <div class="input-group"  >
    <input  [(ngModel)]="resultadoTitulo11" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput11}}" autocomplete="false">
    <div class="input-group-append">
      <button  [disabled]="bt11Borrar" style="margin-right:5px" class="btn btn-danger" type="button" (click)="selection(11)"  (click)="resultadoTitulo11 = ''" >

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
        </svg>

      </button>
      <button  [disabled]="bt11Editar" style="margin-right:5px" class="btn btn-danger ml-1" type="button"   (click)="openInput9=!openInput11">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
      </button>
      <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <button [disabled]="bt11Buscar"  class="btn btn-danger ml-1" type="button"  (click)="openInput11=true;openInputBuscar=true; this.aux = 11">
          <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
                       <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">

          </button>
      </a>
    </div>
  </div>
    <div style="float:left">
    <h1 style="color:brown;   margin-top:-40px">11</h1>
  </div>
  </div>
  <!-- FINAL11  -->


     <!-- comiexo12  -->
     <div  class="form-group" style="margin-top:35px" >
      <div class="input-group"  >
      <input  [(ngModel)]="resultadoTitulo12" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput12}}" autocomplete="false">
      <div class="input-group-append">
        <button  [disabled]="bt12Borrar" style="margin-right:5px" class="btn btn-danger" type="button" (click)="selection(12)"  (click)="resultadoTitulo12 = ''" >
  
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
          </svg>
  
        </button>
        <button  [disabled]="bt12Editar" style="margin-right:5px" class="btn btn-danger ml-1" type="button"   (click)="openInput12=!openInput12">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
        </button>
        <a data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          <button [disabled]="bt12Buscar"  class="btn btn-danger ml-1" type="button"  (click)="openInput12=true;openInputBuscar=true; this.aux = 12">
            <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
                         <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">
  
            </button>
        </a>
      </div>
    </div>
      <div style="float:left">
      <h1 style="color:brown;   margin-top:-40px;margin-right: 10px;">12</h1>
    </div>
    </div>
    <!-- FINAL12  -->

</div>







          </div>

        </div>
      </div>


        <div class="modal-footer" style="z-index: 1000;background-color: rgb(204, 204, 204);width: 100%; position: fixed; bottom:0px">
          <span class="badge bg-warning"   *ngIf="guardando" style="color:black; margin-right:20px; font-size: 12px;">Guardando...</span>
          <span class="badge bg-warning"   *ngIf="guardado" style="color:black; margin-right:20px; font-size: 12px;">Guardado!</span>
          <button (click)="loader=true" type="button" class="btn btn-danger" data-dismiss="modal" routerLink="../../../administracion/ccamAdm">Volver</button>
          <div class="margenR">
            <div style="margin-right: 10px;">
          <button [disabled]="btnGuardar" type="button" class="btn btn-danger"
          (click)="agregarPublicacion(); this.guardando = true"
          >Guardar</button>
        </div>
        <!--   -->
      </div>
        </div>
   <br><br><br>
   <br><br><br>

   <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="staticBackdropLabel" style="margin-top:5px">Ingrese nro. de ID</h3>
          <a  data-bs-dismiss="modal" aria-label="Close" style="margin-top:-20px; cursor:pointer">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
        <div class="modal-body">

   <div class="input-group" style="margin-left: -15px" >
     <input  [(ngModel)]="this.busqueda" id="busqueda" style="margin-left:20px;" type="text" class="form-control" placeholder="Número de ID del articulo" aria-label="Recipient's username" aria-describedby="basic-addon2">
     <div class="input-group-append">

       <button class="btn btn-danger" type="button" (click)="pedirUnArticulo() "  data-bs-dismiss="modal" aria-label="Close" >
        <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>



     </div>
   </div>
        </div>
        <div class="modal-footer">

          <!-- <button type="button" class="btn btn-primary">Understood</button> -->
        </div>
      </div>
    </div>
  </div>



  