<app-navbar data="anunciantes"></app-navbar>

<div class="margenL margenR" style="min-height: 120vh;">
  <div class="row" style="margin-left:0px">
    <div class="col-6" style="padding-right: 40px;">
      <h4>Anunciantes</h4>
<hr>
<select  [(ngModel)]="this.seleccion" (change)="selectChange()" class="form-select form-control-sm" style="width: 100%; height: 38px;">
  
  <option value=1 selected >CCAM LATERAL (Portada revista)</option>
  <option value=3>CCAM - LATERAL </option>
  <option value=4>CCAM - ANCHO  1</option>
  <option value=2>CCAM - ANCHO DOBLE*</option>  
  <option value=5>CCAM - LATERAL </option>
  <option value=6>CCAM - LATERAL </option>
  <hr>
  <option value=7> REVISTA Portada / Mobile POPUP </option>
  <option value=8> REVISTA Vertical 1 / Mobile</option>
  <option value=9> REVISTA Vertical 2 / Mobile</option>
  <option value=10>REVISTA Vertical 3 / Mobile</option>
  <option value=11>Horizontal /No Mobile  </option>
  <option value=12>Horizontal /No Mobile  </option>

  <hr>
  <option value=13>1 Artículo Lateral </option>
  <option value=14>2 Artículo Lateral </option>
  <option value=15>3 Artículo Lateral </option>
  <option value=16>4 Artículo Lateral </option>
  <option value=17>5 Artículo Lateral </option>
  <option value=18>6 Articulo Lateral </option>
  <option value=19>7 Articulo Lateral </option>
  <option value=20>8 Articulo Lateral </option>
  <hr>

  <option value=21>1er Carousel Promos</option>
  <option value=22>2do Carousel Promos </option>
  <option value=23>3er Carousel Promos </option>
  <option value=24>4to Carousel Promos </option>
  <option value=25>5to Carousel Promos </option>
  <option value=26>6to Carousel Promos </option>
  <option value=27>7to Carousel Promos </option>
  <option value=28>8vo Carousel Promos </option>
  <option value=29>9no Carousel Promos </option>
  <option value=30>10mo Carousel Promos </option>


  </select>
  <hr>
      <div>
        <h6 class="tituloInput">Imagen</h6>
        <div class="input-group">
            <input class="form-control" type="file" id="formFile" type="file" style="
            overflow: none" (change)="onFileChange($event); " width="100%">
            <div class="input-group-append">

                <button class="btn btn-danger btn-upload" (click)="this.loadingSubir=false" (click)="onUpload()"
                    style="margin-top:0px" [disabled]=this.SubirEstado>

                    <img *ngIf="!loadingSubir" src="../../../ccam/assets/loader.gif" alt="" width="20px">

                    <svg *ngIf="loadingSubir" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        fill="currentColor" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z" />
                    </svg>


                    Subir</button>



            </div>

        </div>
        <h6 *ngIf="imagenSubida" style="margin: 7px;font-size: 12px; color:green ">✔Imagen subida!</h6>
    </div>

    <div >
      <h6 class="tituloInput">Link</h6>
      <div class="input-group">
          <input [(ngModel)]="this.link" class="form-control" type="input" id="formFile" type="input" style="
          overflow: none"  width="100%">
      </div>

      <button class="btn btn-sm btn-dark" (click)="borrar()">Borrar</button>

  </div>

   <h5 style="margin-top:30px; color: rgba(0, 0, 0, 0.384);">
    <svg  style="margin-top:-4px" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
    </svg>
    Visitas: {{this.contador}}</h5>

    </div>

    <div class="col-6">
      <h4>Vista Previa </h4>

      <hr>
<div style="text-align: center; margin-top: 40px;">
      <div *ngIf="loading" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
      <a   target="_blank" rel="noopener noreferrer" [href]=this.link >
      <img src="{{imagenVista}}"    appImageLoad loading="loading" (loadingChange)="onLoadingChange($event)"  width="270px" alt="" style="cursor:pointer ;">
    </a>
</div>
<div style="margin-top: 20px;">

</div>
<!-- footer con opcionmes -->

<div  style=" left:0px;  z-index: 1000;background-color: rgb(204, 204, 204);width: 100%;  position: fixed;
    bottom: 0px;border-top: 1px solid gainsboro;">
  <div style=" margin-right: 15%; text-align: right;margin-top: 15px;margin-bottom: 20px">
    <button (click)="back()"
      class="btn btn-dark" style="margin-top: -2px; margin-left: 10px">
      Volver
    </button>
    <button class="btn btn-danger"  style="margin-top: -2px; margin-left: 10px;" (click)="guardar(anunciantes._id)">
      Guardar
    </button>
  </div>
</div>
<!-- footer con opcionmes -->
