<div  class="row" style="min-height: 252px;">

  <div class="col-4">
 
    <img class="sombra" src="{{data[0]?.imagen1}}" alt="../../../assets/logo.png" >
  
  </div>
  <div  class="col-8">
    <div class="tarjeta">

    <!-- <h5 class="categoria" >{{data[1]?.categoria}}</h5> -->
    <div style="margin-left:20px; ">
      <br>
    <h5 *ngIf="data[0]?.categoria1" class="categoria" >{{data[0]?.categoria1}}</h5>
    <h5 *ngIf="data[0]?.categoria" class="categoria" >{{data[0]?.categoria}}</h5>
    
    <a routerLink="/articulo/{{data[0]?.titulo2}}"  class="robotoBlack">
        <h1 *ngIf="data[0]?.titulo1" class="titulo truncar2 ">{{data[0]?.titulo1}}</h1></a>
    <a routerLink="/articulo/{{data[0]?._id}}"  class="robotoBlack">
    <h1 *ngIf="data[0]?.titulo" class="titulo truncar2 ">{{data[0]?.titulo}}</h1></a>
    <p *ngIf="data[0]?.subtitulo1" class="parrafo truncar6" >{{data[0]?.subtitulo1}} </p>
    <p *ngIf="data[0]?.subtitulo" class="parrafo truncar6" >{{data[0]?.subtitulo}} </p>
  </div>
</div>

</div>
 </div>


 <br>
 <div  class="row" style="min-height: 252px;">

  <div class="col-4">
    <img class="sombra imagen"src="{{data[1]?.imagen1}}" alt="../../../assets/logo.png" >
  </div>
  <div  class="col-8">
    <div class="tarjeta">

    <!-- <h5 class="categoria" >{{data[1]?.categoria}}</h5> -->
    <div style="margin-left:20px; ">
      <br>
    <h5 *ngIf="data[1]?.categoria1" class="categoria" >{{data[1]?.categoria1}}</h5>
    <h5 *ngIf="data[1]?.categoria" class="categoria" >{{data[1]?.categoria}}</h5>
    
    <a routerLink="/articulo/{{data[1]?.titulo2}}"  class="robotoBlack">
        <h1 *ngIf="data[1]?.titulo1" class="titulo truncar2 ">{{data[1]?.titulo1}}</h1></a>
    <a routerLink="/articulo/{{data[1]?._id}}"  class="robotoBlack">
    <h1 *ngIf="data[1]?.titulo" class="titulo truncar2 ">{{data[1]?.titulo}}</h1></a>
    <p *ngIf="data[1]?.subtitulo1" class="parrafo truncar6" >{{data[1]?.subtitulo1}} </p>
    <p *ngIf="data[1]?.subtitulo" class="parrafo truncar6" >{{data[1]?.subtitulo}} </p>
  </div>
</div>

</div>
 </div>
 
 <br>
 <div  class="row" style="min-height: 254px;">

  <div class="col-4">
    <img class="sombra imagen"src="{{data[2]?.imagen1}}" alt="../../../assets/logo.png" >
  </div>
  <div  class="col-8">
    <div class="tarjeta">

    <!-- <h5 class="categoria" >{{data[1]?.categoria}}</h5> -->
    <div style="margin-left:20px; ">
      <br>
    <h5 *ngIf="data[2]?.categoria1" class="categoria" >{{data[2]?.categoria1}}</h5>
    <h5 *ngIf="data[2]?.categoria" class="categoria" >{{data[2]?.categoria}}</h5>
    
    <a routerLink="/articulo/{{data[2]?.titulo2}}"  class="robotoBlack">
        <h1 *ngIf="data[2]?.titulo1" class="titulo truncar2 ">{{data[2]?.titulo1}}</h1></a>
    <a routerLink="/articulo/{{data[2]?._id}}"  class="robotoBlack">
    <h1 *ngIf="data[2]?.titulo" class="titulo truncar2 ">{{data[2]?.titulo}}</h1></a>
    <p *ngIf="data[2]?.subtitulo1" class="parrafo truncar6" >{{data[2]?.subtitulo1}} </p>
    <p *ngIf="data[2]?.subtitulo" class="parrafo truncar6" >{{data[2]?.subtitulo}} </p>
  </div>
</div>

</div>
 </div>
 