<app-navbar data="Editor Categorias"></app-navbar>

<div class="row margenL margenR mt-4">
    <div class="col-6" >
      <label for="exampleFormControlTextarea1">Categoria</label>
        <select  [(ngModel)]="categoriaSeleccion" (change)="seleccion()" class="form-select form-control-sm" style="width: 100%; height: 38px;">
          <option value="1">Cultura</option>   
          <option value="2">FICHA</option>
          <option value="3">Actividades</option>    
          <option value="4">Medio Ambiente</option>        
          <option value="5">Arqueología</option>
          <option value="6">Entrenamiento</option>
          <option value="7">Montañas del mundo</option>
          <option value="8">Capacitaciones</option>
          <option value="9">Historia</option>
        </select>

        
        <div class="form-group mt-4 ">
          <label for="exampleFormControlTextarea1">Descripcion Categoria</label>
          <textarea [(ngModel)]="texto" name="texto" class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>
        <div style="height: 100vh;">

        </div>
    </div>
    <div class="col-6">

    </div>

</div>






<div
  class="modal-footer"
  style="
    z-index: 1000;
    background-color: rgb(204, 204, 204);
    width: 100%;
    position: fixed;
    bottom: 0px;
  "
>
  <div class="margenR">
    <button type="button" class="btn btn-dark " style="margin-right:10px;" (click)="back()">
      Volver
    </button>
    <button type="button" class="btn btn-danger" (click)="guardar()">
        Guardar
      </button>
  </div>
  <!--   -->
</div>

