<div style="text-align: center;">
  <div *ngIf="loader"
    class="loadingio-spinner-dual-ring-xg1vnrf2b6o"
    style="margin-top: 150px; min-height: 2000px"
  >
    <div class="ldio-z7fu6e1den">
      <div></div>
      <div><div></div></div>
    </div>
  </div>
</div>


<div  class="margenL margenR">
<div *ngIf="!loader" style="margin-left:-0px;margin-right:-0px; background-color:orange ; border-left: 20px solid rgb(43, 43, 43);border-right: 20px solid rgb(44, 44, 44)">

    <div class="quitar600" style="margin-right:25px; text-align: right;">
<h6 style="font-size:14px; font-weight: 700; padding-top:10px">NRO.
  <span>{{articulos[0].numero}}</span>
  <span style="margin-left:2px" >|</span>
  <span style="margin-left:5px; text-transform: uppercase;">MES: {{articulos[0].mes}}</span>
  <span style="margin-left:2px" >|</span>
  <span style="margin-left:2px">AÑO: {{articulos[0].anio}}</span>

</h6>
</div>



    <div  class="portadaAcomoda">
<app-portada  [data]="articulos[0]"></app-portada>
</div>
<div>

    <h4 class="indice" style="text-transform:uppercase">ÍNDICE - {{this.articulos[0].mes}}</h4>
<app-indice  [data]="articulos[0]"></app-indice>

</div>
<div style="background-color:rgb(59, 52, 0,1)">
<a href="{{this.anuncios[0].link7}}" target="_blank">
  <img (click)="sumarContadorAunciante(7)" src={{this.anuncios[0]?.img7}}  width="100%" alt="" class="borde" >
  
  
  </a>

</div>

<!-- EDITORIAL COMIEZA AQUI -->

<div style="color: white;background-color: orange; margin-top:10px"   >
   <h1 class="indice subefuente fuenteTest" style="margin-top:20px; text-transform: uppercase;" >EDITORIAL - NRO {{this.articulos[0].numero}} | {{this.articulos[0].mes}} {{this.articulos[0].anio}}</h1>
  <div class="fondoEditorial" style="  background-image: url('../../../assets/1.png'); background-size: cover;">
  <div>
     <img class="responsi" src="../../../assets/logonm.png" width="155px" alt="" style="margin-top: 10px;margin-left: 15px;">
   <!-- <img class="responsi2" src="../../../assets/LogoCCAM_Entero.png" width="100px" alt="" style="margin-top: 10px;"> -->
    <!-- <p class="editorialParrafo"
     [innerHTML]=saltos2(this.articulos[0]) >  -->
     <!-- </p> -->
     <p class="editorialParrafo" style="padding-bottom: 15px;"  [innerHTML]="this.articulos[0].editorial" >

  <br>
<br>

<br><br>


  </div>

</div>
<!-- <div class="poner600">
  <img src="../../../assets/image 12.png" width="100%" height="200px" alt="" style="margin-top: 0px;">
  </div> -->

<div class="row quitar600" style="margin-top:30px;  padding-right:35px ">
  <div class="col-4 xl-12 ">
    <div >
      <a href="{{this.anuncios[0].link8}}" target="_blank">
       <img (click)="sumarContadorAunciante(8)" src={{this.anuncios[0].img8}}  width="100%" height="500px" alt="" style="padding-left:20px"></a>
    </div>
  </div>

  <div class="col-4">
    <div >
      <a href="{{this.anuncios[0].link9}}" target="_blank">
       <img (click)="sumarContadorAunciante(9)"src={{this.anuncios[0].img9}}  width="100%" height="500px" alt=""></a>

    </div>
  </div>

  <div class="col-4" style="padding-right: 0px">
    <div >



     <a href="{{this.anuncios[0].link10}}" target="_blank">
       <img (click)="sumarContadorAunciante(10)" src="{{this.anuncios[0].img10}} " width="100%" height="500px"  alt=""></a>
    </div>
  </div>

</div>
<br>

     <app-carousel-revista></app-carousel-revista>

 



      </div>

<app-footer-revista></app-footer-revista>
 

    </div>

</div>
